[submodule "ch/infrastructure/submodules/conduit-quality-of-service-writeup"]
  path = ch/conduit/submodules/conduit-quality-of-service-writeup
  url = https://github.com/mmore500/conduit-quality-of-service-writeup.git
  shallow = true
[submodule "ch/influencing-cna/submodules/oee4"]
  path = ch/measuring-cna/submodules/oee4
  url = https://github.com/mmore500/oee4.git
  shallow = true
[submodule "ch/infrastructure/submodules/signalgp-lite"]
  path = ch/sgp-lite/submodules/signalgp-lite
  url = https://github.com/mmore500/signalgp-lite.git
  branch = joss
  shallow = true
[submodule "ch/tag-matching/submodules/tag-olympics-writeup"]
  path = ch/tag-matching/submodules/tag-olympics-writeup
  url = https://github.com/mmore500/tag-olympics-writeup.git
  shallow = true
[submodule "ch/case-studies/submodules/frontiers-2021"]
  path = ch/case-studies/submodules/frontiers-2021
  url = https://github.com/mmore500/frontiers-2021.git
  shallow = true
[submodule "ch/influencing-cna/submodules/dishtiny"]
  path = ch/influencing-cna/submodules/dishtiny
  url = https://github.com/mmore500/dishtiny.git
  branch = binder
  shallow = true
